div {
  display: flex;
  flex-direction: row;
  div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    img {
      height: 20px;
      margin: 8px;
    }
  }
}

.active{
    font-weight: bold;
}