<!-- RODAR COM NPM RUN START E NPM RUN START:PT -->
<!-- Faz o build de tudo com a tradução dos arquivos que estão na pasta locale -->
<!-- Houve alteração também no angular.json para adicionar essa configuração -->
<section>
  <h3>i18n Angular</h3>
  <app-under-construction></app-under-construction>
</section>

<hr>

<!-- RODAR COM NPM RUN START -->
<!-- Faz o build de tudo com a tradução dos arquivos que estão na pasta assets/i18n -->
<!-- Dessa maneira é possivel fazer a alteração da linguagem desejada em tempo de execução -->
<section>
    <h3>ngx-translate</h3>
  <app-change-lang></app-change-lang>
  <div>
    <app-home></app-home>
  </div>
</section>


<hr>

<app-test></app-test>